.idea
topup/.idea
topup/.ipynb_checkpoints
topup/.mypy_cache
topup/.vscode
topup/__pycache__
topup/.pytest_cache
topup/htmlcov
topup/dist
topup/site
topup/.coverage
topup/coverage.xml
topup/.netlify
topup/test.db
topup/log.txt
topup/Pipfile.lock
topup/env3.*
topup/env
topup/docs_build
topup/venv
topup/docs.zip
topup/archive.zip
topup/include
db_data

# vim temporary files
*~
.*.sw?
topup/api/xmlfiles/get_balance.xml
topup/api/xmlfiles/glotopup.xml
topup/api/xmlfiles/topup.xml
topup/api/*.xml
topup/lib
topup/bin
topup/.env
topup/api/QueryApis/__pycache__
topup/api/__pycache__
topup/api/repository/__pycache__
topup/api/routes/__pycache__
topup/config/__pycache__
